<!DOCTYPE html>
<!-- This is the website created by Lino J.H.R -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lino Hernandez</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<div id="container">
<body>
    <header>
        <a href="index.html"></a>
        <h1>LINO HERNANDEZ</h1>
    </header>
    <nav>
        <a href="../html/index.html">HOME</a>
        <a href="../html/gallery.html">Gallery</a>
        <a href="../html/aboutme.html">About me</a>
    </nav>
</body>
<footer>&copy; 2021. All Rights reserved. <br />
    <a href="mailto:linojhr24@gmail.com">mailto:linojhr24@gmail.com</a></footer>
</div>